:root {

  --ui-scale: 0.85;

  --container: calc(clamp(960px, 85vw, 1440px) * var(--ui-scale));

  --space-1: calc(clamp(6px, 0.6vw, 8px) * var(--ui-scale));
  --space-2: calc(clamp(10px, 0.8vw, 12px) * var(--ui-scale));
  --space-3: calc(clamp(14px, 1vw, 16px) * var(--ui-scale));
  --space-4: calc(clamp(16px, 1.4vw, 20px) * var(--ui-scale));
  --space-5: calc(clamp(20px, 1.8vw, 24px) * var(--ui-scale));
  --space-6: calc(clamp(28px, 2.6vw, 40px) * var(--ui-scale));
  --space-7: calc(clamp(40px, 3.6vw, 56px) * var(--ui-scale));
  --space-8: calc(clamp(64px, 5.5vw, 88px) * var(--ui-scale));
  --space-section: calc(clamp(88px, 6vw, 96px) * var(--ui-scale));

  --radius-1: clamp(6px, 0.6vw, 8px);
  --radius-2: clamp(10px, 0.9vw, 12px);
  --radius-3: clamp(16px, 1.4vw, 20px);
  --radius-4: clamp(20px, 1.8vw, 24px);
  --radius-5: clamp(28px, 4vw, 999px);
  
  --fs-1: calc(clamp(14px, 1vw, 16px) * var(--ui-scale));
  --fs-2: calc(clamp(16px, 1.1vw, 18px) * var(--ui-scale));
  --fs-3: calc(clamp(18px, 1.2vw, 20px) * var(--ui-scale));
  --fs-4: calc(clamp(20px, 1.4vw, 22px) * var(--ui-scale));
  --fs-5: calc(clamp(22px, 1.6vw, 24px) * var(--ui-scale));
  --fs-6: calc(clamp(24px, 1.8vw, 28px) * var(--ui-scale));
  --fs-7: calc(clamp(28px, 2.2vw, 32px) * var(--ui-scale));
  --fs-8: calc(clamp(34px, 2.8vw, 36px) * var(--ui-scale));

  --lh-tight: 1.1;
  --lh-normal: 1.4;
  --lh-loose: 1.6;
  --test: clamp()
}